<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971963791035-v2h8rp9sbi3erbsnpldtp6g0a7uea69m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971963791035-v2h8rp9sbi3erbsnpldtp6g0a7uea69m</string>
	<key>API_KEY</key>
	<string>AIzaSyCk5ommoAriHXPszB5BzyMXXgFlj6dI7IA</string>
	<key>GCM_SENDER_ID</key>
	<string>971963791035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barefoot.BareFoot</string>
	<key>PROJECT_ID</key>
	<string>barefoot-18426</string>
	<key>STORAGE_BUCKET</key>
	<string>barefoot-18426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971963791035:ios:324b530410eb68f4</string>
	<key>DATABASE_URL</key>
	<string>https://barefoot-18426.firebaseio.com</string>
</dict>
</plist>
